<link rel="stylesheet" href="stylesheets/application.css" title="text/css" />

<h1>Adopt. Don't Shop.</h1>

<h3><a class=welcome_to_index_links href="/shelters">Shelters</a></h3>
<h3><a class=welcome_to_index_links href="/pets">Pets</a></h3>
