/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .welcome_to_index_links:link, .welcome_to_index_links:visited {
   color: rgb(99, 20, 247)
 }
 .welcome_to_index_links:hover, .welcome_to_index_links:active {
   color: rgb(225, 23, 254)
 }
 .shelter_name {
   margin: auto;
   background-color: rgba(193, 133, 255, 0.75);
   color: black;
   padding: 5px;
   text-align: center;
 }
 .update_button {
   background-color: rgb(207, 255, 254);
   color: rgb(247, 0, 255);
   padding: 3px 10px;
   text-align: center;
   display: inline-block;
 }

 .delete_button{
   background-color: rgb(254, 207, 255);
   color: black;
   padding: 3px 10px;
   text-align: center;
   display: inline-block;
 }

 .new_shelter{
   background-color: rgba(243, 133, 255, 0.75);
   padding: 5px 15px;
   text-align: center;
 }

 .pet_image{
   width: 40%
 }

 .pet_info{
   margin: auto;
   background-color: rgba(243, 133, 255, 0.75);
   color: black;
   padding: 10px 10px;
 }

 .header_links{
   text-align: right;
   background-color: rgb(190, 186, 191);
   padding: 3px 10px;
 }

 #update_section {
   margin: auto;
 }

 #link_to_pets_of_shelter {
   background-color: rgb(254, 207, 255);
   padding: 3px 10px;
   text-align: center;
   display: inline-block;
 }

 #shelter_info {
   background-color: rgba(228, 88, 241, 0.75);
   color: black;
   padding: 15px 15px;
 }

 #back_to_shelter{
   background-color: rgb(207, 255, 254);
   color: rgb(247, 0, 255);
   padding: 3px 10px;
   text-align: center;
   display: inline-block;
 }

 #create_button {
   background-color: rgb(254, 207, 255);
   color: black;
   padding: 3px 10px;
   text-align: center;
   display: inline-block;
 }

 h1 {
   background-color: rgba(145, 242, 229, 0.75);
   color: black;
   padding: 5px;
   text-align: center;
 }
